<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>status</key>
	<string>100</string>
	<key>msg</key>
	<string>成功</string>
	<key>data</key>
	<array>
		<dict>
			<key>identification</key>
			<string>0</string>
			<key>firstName</key>
			<string>Li</string>
			<key>secondName</key>
			<string>Lei</string>
			<key>dogs</key>
			<array>
				<dict>
					<key>name</key>
					<string>Tom</string>
					<key>age</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Jerry</string>
					<key>age</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Speike</string>
					<key>age</key>
					<integer>5</integer>
				</dict>
			</array>
			<key>languages</key>
			<array>
				<string>Java</string>
				<string>OC</string>
				<string>Swift</string>
				<string>JS</string>
			</array>
		</dict>
		<dict>
			<key>identification</key>
			<string>1</string>
			<key>firstName</key>
			<string>Han</string>
			<key>secondName</key>
			<string>MeiMei</string>
			<key>dogs</key>
			<array>
				<dict>
					<key>name</key>
					<string>Tom1</string>
					<key>age</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Jerry1</string>
					<key>age</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>Speike1</string>
					<key>age</key>
					<integer>5</integer>
				</dict>
			</array>
			<key>languages</key>
			<array>
				<string>C</string>
				<string>C++</string>
				<string>PHP</string>
				<string>Python</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
